html {
  background: #ffffff;
  color: #333333;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  height: 100%;
  text-rendering: optimizelegibility;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body.overflow-hidden {
	overflow: hidden;
}

img {
	max-width: 100%;
	height: auto;
}

@font-face {
  font-family: "Marvin Visions";
  src: url("./fonts/MarvinVisions-Bold.woff2") format("woff2"),
       url("./fonts/MarvinVisions-Bold.woff") format("woff");
}

#app {
	margin: 0 auto;
	max-width: 1140px;
	padding-bottom: 72px;
}

header {
	background-color: #2c2c2c;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	box-sizing: border-box;
	color: #ffffff;
	display: flex;
	margin: 0 auto 1.5rem;
	padding: 6px;
	position: relative;
}

header svg {
	border-radius: 3px;
	height: 34px;
	position: absolute; top: 6px; left: 6px;
	width: auto;
	z-index: 1;
}

header h1 {
	display: inline-block;
	flex: 1 0 auto;
	font-family: 'Marvin Visions';
	font-size: 2rem;
	font-weight: normal;
	letter-spacing: 0.05em;
	line-height: 2rem;
	margin: 0 0 0 40px;
	vertical-align: top;
}

#search {
	display: block;
	flex: 0 0 auto;
	max-width: 256px;
	position: relative;
	text-align: right;
}

#search input,
#search button {
	display: inline-block;
	line-height: 2rem;
	margin: 0;
	outline: none;
	padding: 0;
	transition: 0.2s border ease-in-out;
	vertical-align: top;
}

#search input {
	border: 1px solid black;
	border-radius: 3px;
	box-shadow: inset 0 0 2px rgba(0,0,0,0.15);
	box-sizing: border-box;
	font-size: 0.875rem;
	padding: 0 60px 0 12px;
	width: 100%;
}

#search button {
	background-color: orange;
	border: 1px solid black;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	color: white;
	font-size: 0.75rem;
	position: absolute; top: 0; right: 0;
	text-align: center;
	width: 48px;
}

#search input:focus,
#search input:focus ~ button {
	border-color: orange;
}

h2 {
	font-size: 1rem;
	margin: 0 auto;
	max-width: 1140px;
	padding: 0 3px;
	text-transform: capitalize;
}

#thumbnails {
	box-sizing: border-box;
	margin: 0.5rem auto 0;
	padding: 3px;
}

#thumbnails a {
	box-sizing: border-box;
	padding: 3px;
	text-align: center;
}

#thumbnails img {
	vertical-align: top;
}

/* #modal {
	align-items: center;
	background-color: rgba(255,255,255,0.95);
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	opacity: 0;
	position: fixed; top: 0; left: 0;
	transition: 0.4s opacity ease-in-out;
	visibility: hidden;
	width: 0; height: 0;
}

#modal.modal-opacity,
#modal.modal-on {
	bottom: 0; right: 0;
	visibility: visible;
	width: auto; height: auto;
}

#modal.modal-opacity {
	opacity: 1;
}

#modal.modal-on {
	transition: 0s all ease 0.4s,
		0.4s opacity ease-in-out 0s;
} */

#modal {
	align-items: center;
	background-color: rgba(255,255,255,0.98);
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: top;
	opacity: 1;
	position: fixed; top: 0; left: 0; bottom: 0; right: 0;
	transition: 0.4s opacity ease-in-out;
	visibility: visible;
	width: auto; height: auto;
	z-index: 2;
}

#modal-header,
#modal-footer {
	box-sizing: border-box;
	flex: 0 0 auto;
	line-height: 48px;
	padding: 0 12px;
	width: 100%; height: 49px;
}

#modal-header *,
#modal-footer * {
	margin: 0;
}

#modal-header {
	border-bottom: 1px solid black;
}

#modal-footer {
	border-top: 1px solid black;
}

#modal-body {
	display: flex;
	flex: 1 0 auto;
	width: 100%;
}

#modal-stage {
	align-items: center;
	box-sizing: border-box;
	display: flex;
	flex: 1 1 auto;
	justify-content: center;
	padding: 24px;
	position: relative;
}

#primitiv-output {
	position: absolute;
}

#modal-config {
	border-left: 1px solid #ededed;
	flex: 0 0 auto;
	max-width: 256px;
	min-width: 256px;
}

#closeBtn {
	background: transparent;
	border: none;
	cursor: pointer;
	font-size: 0.875rem;
	outline: none;
}